# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
springcloud-config-client/springcloud-config-client.iml
*/src/test
*/target
